@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fixedcursor {
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s ease-out;
}


/* path/to/CustomCursor.css */
.circle {
  position: fixed;
  width: 20px; /* Base size */
  height: 20px; /* Base size */
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5); /* Example color */
  pointer-events: none; /* Prevent the circle from blocking mouse events */
  transform: translate(-50%, -50%); /* Center the circle */
  transition: transform 0.1s ease; /* Smooth transition for scaling */
  z-index: 9999; /* Ensure it appears above other elements */

}

